body{
    background-color:rgb(255, 255, 255);
    margin-top: 10px;
}
.container{
    display: flex ;
    border: 1px solid #f50303;
    background-color: #f1f503;
    width: 70%;
    margin-left: 200px;
    border-radius: 5px;
    margin-bottom: 20px;  
}
.post-area{
    margin-left: 40px;
    height: 200px;
}
.title{
    color: #05010a;
    font-size: 22px;
    font-weight: 400;
}
.post-id{
    font-size: 13px;
    font-weight: 600;
}
#view-more{
    margin-top: 5px;
    font-size: 10px;  
    font-weight: 600;
    margin-right: 100px;
    background-color: #f50303;
    color: white;
}