.top-head{
    margin-top:-80px;
    background-color: #ff4a02;
    text-align: center;
}

body{
    margin-top: 100px ;
}
.post-details{
    background-color: #f1f503;
    margin-left: 200px;
    border-radius:5px;
    margin-bottom: 50px;  
    padding: 50px;
    width: 60%;
    margin-top: 15px;
}
.post-info{
    margin-bottom: 40px;
}

.userId{
    font-size: 18px;
    font-weight: 400;
    color: #05010a;
}
.post-Title{
    color: #05010a;
    font-size: 18px;
    font-weight: 400;
}
.post-Body{
    color: #05010a;
    font-size: 22px;
    font-weight: 200;
}